body {
	background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/pool_table.png');
	background-repeat: repeat;
}

#title {
	background-color: #c26520;
	font-size: 40px;
	/*float: left;*/
}

#instructions {
	background-color: #f3d3ac;
	font-size: 20px;
	/*float: left;*/
/*	width: 50%;
*/}

#guess {
	background-color: #51c175;
	max-width: 30%;
	float: left;
	margin-right: 20px;
	font-size: 25px;

}

#score {
	background-color: #41fcfe;
	float: left;
	font-size: 25px;

}

.crystal-image {
	clear: both;
	margin-top: 30px;
	width: 100px;
	height: 100px;
	/*float: left;*/
}

#total-score-title {
	background-color: #26988c;
	color: white;
	width: 50%;
	font-size: 30px;
	/*float: left;*/
}

#total-score {
	background-color: #26988c;
	color: white;
	width: 30%;
	font-size: 35px;	
	/*float: left;*/
}



